:root {
    --primary-color  : #333;
    --secondary-color: #444;
    --overaly-color  : rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
    text-align: justify;
}

body {
    font-family: 'Lora',
        serif;
    line-height: 1.6;
    color      : var(--primary-color);
}

h1,
h2 {
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-size: 1.3;
}

a {
    color          : var(--secondary-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1100px;
    margin   : auto;
    overflow : hidden;
    padding  : 0 2rem;
}

/* Navbar */
.navbar {
    font-size     : 1.2rem;
    padding-top   : 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .container {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar .logo {
    font-size: 2rem;
}

.navbar .nav {
    display     : flex;
    justify-self: end;
}

.navbar .nav li {
    padding: 0 0.5rem;
}

.navbar .nav a {
    padding: 0 0.5rem;
}

.navbar .nav a:hover {
    color: #666;
}

/* Section A */
.section-a {
    margin: 2rem 0;
}

.section-a .container {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap             : 3rem;
    align-items          : center;
    justify-content      : center;
}

.section-a h1 {
    font-size: 3.5rem;
    color    : var(--primary-color);
}

.section-a p {
    margin: 1rem 0;
}

/* Section B */
.section-b {
    position  : relative;
    height    : 600px;
    padding   : 5rem 0;
    background: url("https://i.ibb.co/1RS1dqC/section-b.jpg") no-repeat bottom center/cover;
}

.section-b-inner {
    color             : #fff;
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    justify-content   : center;
    text-align        : center;
    margin            : auto;
    height            : 100%;
    width             : 100%;
    max-width         : 860px;
    /* padding        : 5rem 0; */
}

.section-b-inner h3 {
    font-size: 2rem;
}

.section-b-inner h2 {
    font-size : 4rem;
    margin-top: 1rem;
}

.section-b-inner p {
    font-size : 1.5rem;
    margin-top: 1rem;
}

/* Section C */
.section-c .gallery {
    display              : grid;
    grid-template-columns: repeat(5, 1fr);
}

.section-c .gallery a:first-child {
    grid-row   : 1/3;
    grid-column: 1/3;
}

.section-c .gallery a:nth-child(2) {
    grid-column: 3/5;
}

.section-c .gallery img,
.section-c .gallery a {
    width : 100%;
    height: 100%;
}

/* Footer */
.section-footer {
    background: var(--primary-color);
    color     : #fff;
    padding   : 4rem 0;
}

.section-footer .container {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap             : 1rem;
}

.section-footer h2 {
    font-size    : 2rem;
    margin-bottom: 1rem;

}

.section-footer h3 {
    margin-bottom: 0.7rem;
}

.section-footer a {
    line-height: 1.9;
    color      : #ccc;
}

.section-footer a>i {
    color       : #555;
    margin-right: 0.5rem;
}

/* Email Form */
.email-form {
    width           : 100%;
    background-color: #555;
    position        : relative;
    border-radius   : 20px;
    line-height     : 0;
    margin-top      : 1rem;
}

.email-form .form-control {
    display         : inline-block;
    border          : 0;
    outline         : 0;
    font-size       : 1rem;
    color           : #ddd;
    background-color: transparent;
    margin          : 0;
    padding         : 0 3rem 0 1.5rem;
    width           : 100%;
    height          : 45px;
    border-radius   : 20px;
}

.email-form .submit {
    position        : absolute;
    top             : 0;
    right           : 0;
    cursor          : pointer;
    width           : 25px;
    padding         : 0 1.5rem 0 0.7rem;
    border-radius   : 0 20px 20px 0;
    color           : var(--primary-color);
    background-color: #eee;
    text-align      : center;
}

/* Utilities */
.btn {
    display      : inline-block;
    background   : var(--primary-color);
    color        : #fff;
    padding      : 0.8rem 1.5rem;
    border       : none;
    cursor       : pointer;
    font-size    : 1.1rem;
    border-radius: 30px;
}

.btn:hover {
    background: var(--secondary-color);
}

.overlay {
    position        : absolute;
    top             : 0;
    left            : 0;
    height          : 100%;
    width           : 100%;
    background-color: var(--overaly-color);
}

/* Media Queries */
@media(max-width: 700px) {

    /* Section A */
    .section-a {
        margin: 1rem 0;
    }

    .section-a .container {
        grid-template-columns: 1fr;
        grid-gap             : 1rem;
    }

    .section-a .container div:first-child {
        order: 2;
    }

    .section-a .container div:last-child {
        order: -1;
    }

    .section-a .container div {
        text-align: center;
    }

    .section-a h1 {
        font-size: 2.5rem;
    }

    .section-a p {
        margin: 0.5rem 0;
    }

    .section-a img {
        width : 70%;
        margin: auto;
    }

    /* Section B */
    .section-b {
        height : 500px;
        padding: 3rem 0;
    }

    .section-b-inner {
        padding: 0 1rem;
    }

    .section-b-inner h3 {
        font-size: 1.5rem;
    }

    .section-b-inner h2 {
        font-size : 2.5rem;
        margin-top: 1rem;
    }

    .section-b-inner p {
        font-size : 1.2rem;
        margin-top: 1rem;
    }

    /* Section C */
    .section-c .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-c .gallery a:first-child {
        grid-row   : 1/1;
        grid-column: 1/1;
    }

    .section-c .gallery a:nth-child(2) {
        grid-row   : 2/2;
        grid-column: 2/4;
    }

    .section-c .gallery a:last-child {
        display: none;
    }

    /* Footer */
    .section-footer {
        padding: 2rem 0;
    }

    .section-footer .container {
        grid-template-columns: 1fr;
        text-align           : center;
    }

    .section-footer .container div:nth-child(2), .section-footer .container div:nth-child(3) {
        display: none;
    }

    .section-footer .container div {
        text-align: center;
        margin    : 0 auto;
    }

    /* Email Form */
    form {
        margin-top   : 1rem;
    }

    /* Utilities */
    .btn {
        padding      : 0.6rem 1.2rem;
        font-size    : 1rem;
        border-radius: 20px;
    }
}